# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Git
.git
.gitignore

# System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Database
*.db
*.sqlite3

# Environment Variables
.env

# Docker
Dockerfile
.dockerignore

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints