# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Database
*.db
*.sqlite3

# Environment Variables
.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Face recognition temp files
static/faces/*
!static/faces/.gitkeep

# Uploaded images
static/images/*
!static/images/.gitkeep